<style type="text/css">
  a:hover { 
    color:#ef4224;
   }
   a.read-more-2{
    color: #EF634B;
   }
</style>
<div class="blue h-60">
     <span class="sidebtn" onclick="openNav()">&#9776;</span>
      <span style="margin-left: 20px;"><img src="assets/logo.png" height="60" width="80" style="margin-top: -33px;"></span>
       <%if user_signed_in?%>
      <span class="sign-out">
      <%=link_to "Sign Out",destroy_user_session_path, method: :delete ,:style =>'color=white;' %>
      <%=link_to raw('<i class="fa fa-sign-out" aria-hidden="true"></i>'),destroy_user_session_path, method: :delete ,:style =>'color=white;' %></span>
      <%end%>
</div>

<div id="mySidenav" class="sidenav blue" style="z-index: 10">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/admin_landing" class="active">Homepage</a><hr>
    <a href="#">Registered User</a><hr>
    <a href="/coadmin">Co-admin</a><hr>
    <a href="#">Vehicles</a><hr>
    <a href="#">Services</a>
</div>
<div class="container">
   <div style="height: 70px;margin-top: 20px;">
    <span class="block-header" style="font-size: 25px;">SERVICES</span>
    <span><a href="/services/new"><i class="fa fa-plus-circle" aria-hidden="true" style="float: right;font-size: 50px;color: #ef4224;"></i></a></span>
   </div> 
  <div class="card">
    <div style="margin:0px 20px;padding: 20px 0px;">
        <table  class="table table-striped table-vmiddle">
              <thead> 
                 <tr>
                     <th data-column-id="id" data-type="serviceid">SERVICE ID</th>
                     <th data-column-id="image">IMAGE</th>
                     <th data-column-id="servicename">SERVICE NAME</th>
                     <th data-column-id="description">DESCRIPTION</th>
                     <th data-column-id="category">CATEGORY</th>
                     <th data-column-id="command" data-formatter="commands" data-sortable="false" data-behavior="clickable-row">OPTIONS</th>
                 </tr>
              </thead>
              <tbody>
                <% @services.each do |service| %>
                 <tr>
                     <td><%=service.id%></td>
                     <td  ><%= image_tag service.service_pic.url( :small) %></td>
                     <td><%=service.name%></td>
                     <td><% if service.description.length > 100 %>
    <%= truncate(service.description, length: 100) %>
    <%= link_to '...Read more', '', class: "read-more-#{service.id}" %>
    <script>
      $('.read-more-<%= service.id %>').on('click', function(e) {
        e.preventDefault()
        $(this).parent().html('<%= escape_javascript service.description %>')
      })
    </script>
  <% else %>
    <%= service.description %>
  <% end %></td>
                     <td><%=service.service_category.category_name%></td>
                     <td>
                       <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>'), edit_service_path(service), :style => 'color:#5e5e5e;margin-left:10px;' %>
                       <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), service, method: :delete, data: { confirm: 'Are you sure?' } , :style => 'color:#5e5e5e;margin-left:10px;'%>
                       </td>
                   </tr>

                <% end %>               
              </tbody>
        </table>
    </div>
  </div>
</div>


<script type="text/javascript">
  function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }

         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
          }
   $(document).ready(function(){
          
                //Command Buttons
                $("#data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                    formatters: {
                     
                        "commands": function(column, row) {
                            return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-edit\"></span></button> " + 
                                "<button type=\"button\" class=\"btn btn-icon command-delete waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-delete\"></span></button>";
                        }
                    }
                });
              });
  
</script> 
