
<html class="login-content">
 <body class="login-content sw-toggled">
  <style type="text/css">
    .mid{
      margin-left: auto;
      margin-right: auto;
    }
  </style>
 <div class="lc-block toggled mid" id="l-login" style="margin-top: -75px">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <%= devise_error_messages! %>
           <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <%= f.text_field :name, autofocus: true, :class =>"form-control" , :placeholder =>"Username"%>
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <%= f.email_field :email, autofocus: true, :class =>"form-control" , :placeholder =>"Email Address"%>
                </div>
            </div>
            
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                     <%= f.password_field :password, autocomplete: "off" , :class =>"form-control" , :placeholder =>"Password"%>
                </div>
            </div>

             <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                     <%= f.password_field :password_confirmation, autocomplete: "off" , :class =>"form-control" , :placeholder =>"Password Confirmation"%>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            
            <%= button_tag(type: 'submit', class: "btn btn-login btn-danger btn-float") do %>
               <i class="zmdi zmdi-arrow-forward"></i>
             <% end %>
            
            <ul class="login-navigation">
                 <li data-block="#l-register" class="bgm-red"> <a href=" /users/sign_in" style="color: white;">Login</a></li>
                  <li data-block="#l-forget-password" class="bgm-orange"><a href="/users/password/new" style="color: white;">Forgot Password?</a></li>
                 </li>
            </ul>
        </div>
<% end %>
</body>
</html>
