<%= form_tag(user_vehicle) do %>
 <% if user_vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_vehicle.errors.count, "error") %> prohibited this user_vehicle from being saved:</h2>

      <ul>
      <% user_vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
       Registration no. =
       <%=text_field_tag 'user_vehicle[registration_number]'%>
    </div>
     <div class="field">
       Year =
       <%=text_field_tag "user_vehicle[year]"%>
    </div>
    <div class="field">
    <%=select_tag "brand", options_for_select(Brand.all.collect{|u| [u.brand_name, u.id]})%>
   
  </div>
   <div class="field">
   <%=select_tag "car", options_for_select( Car.all.collect{|u| [u.name, u.id]})%>
  </div>
  <div class="field">
  <%=select_tag "variant", options_for_select(MasterVariant.all.collect{|u| [u.variant, u.id]})%>
  </div> 
  <div class="actions">
    <%= submit_tag 'Save'%>
  </div>
<% end %>
