<%= form_for(vehicle) do |f| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= collection_select(:vehicle, :car_id, Car.all, :id, :name) %>
  </div>
  <div class="field">
    <%= collection_select(:vehicle, :master_variant_id, MasterVariant.all, :id, :variant) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
