<style type="text/css">
  a:hover { 
    color:#ef4224;
   }

   a .profile-pic{
    padding: 12px;
   }

   a .profile-pic > img{
  width: 47px;
  height: 47px;
  border-radius: 47px;
  border: 3px solid rgba(0, 0, 0, 0.14);
  box-sizing: content-box;
   }

   a .profile-info{
    background: rgba(0, 0, 0, 0.45);
    padding: 7px 14px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
   }
   
   div.profile-info{
   padding-top: 10px;
padding-bottom: 10px;
/* margin: auto; */
padding-left: 10px;
background: rgba(0, 0, 0, 0.45);
margin-top: 56px;
   }

.style_image {
  border: 1px solid white;
  border-radius:  50px ;
  margin-top:10px;
  margin-left: 10px;
}
</style>

<div class="blue h-60" style="position:relative;">
     <span class="sidebtn" onclick="openNav()">&#9776;</span>
      <span style="margin-left: 20px;"><img src="assets/logo.png" height="60" width="80" style="margin-top: -33px;"></span>
      <%if user_signed_in?%>
      <span class="sign-out">
      <%=link_to "Sign Out",destroy_user_session_path, method: :delete ,:style =>'color=white;' %>
      <%=link_to raw('<i class="fa fa-sign-out" aria-hidden="true"></i>'),destroy_user_session_path, method: :delete ,:style =>'color=white;' %></span>
      <% end %>
</div>

<div id="mySidenav" class="sidenav blue" style="z-index: 10;position:absolute;top:78px;overflow: scroll;">
    <a href="javascript:void(0)" class="closebtn" style="z-index:5000;" onclick="closeNav()">&times;</a>  
    
  <div class="col-xs-12 co;-col-sm-12 col-md-12 col-lg-12 " style="z-index: 999;padding:0px;">
  <div class="image2" style="position: relative; z-index:-20;top:0px; margin-top: -60px;margin-bottom: 30px;">
  
                        <div class="profile-pic" >
                            <% if user_signed_in? %>
                               <%= image_tag current_user.photo.url( :thumb), :class => "style_image" %>
                            <% end %>
                        </div>

                        <div class="profile-info">
                            <% if user_signed_in? %>
                               <%= current_user.name %>
                            <% end %>
                        </div></div></div>
    
    <a href="/admin_landing" class="active" style="font-size:15px;padding: 10px;"><i class="zmdi zmdi-home" style="padding-right: 20px;
    padding-left: 20px; font-size:15px;"></i>Homepage</a>
    <a href="#" style="font-size:15px;padding: 10px;"><i class="zmdi zmdi-account" style="padding-right: 20px;
    padding-left: 20px;font-size:15px;"></i>Registered User</a>
    <a href="/coadmin" style="font-size:15px;padding: 10px;"><i class="zmdi zmdi-accounts-list-alt" style="padding-right: 20px;
    padding-left: 20px;font-size:15px;"></i>Co-admin</a>
    <a href="#" style="font-size:15px;padding: 10px;"><i class="fa fa-car" style="padding-right: 18px;
    padding-left: 18px;font-size:15px;"></i>Vehicles</a>
    <a href="#" style="font-size:15px;padding: 10px;"><i class="fa fa-gavel" style="padding-right: 18px;
    padding-left: 18px;font-size:15px;"></i>Services</a>
</div>
<div class="container">
<div class="row">
<div class="card" >
    <div class="card-header">
         <h2>Review Table</h2>
    </div>
                        
    <table id="data-table-command" class="table table-striped table-vmiddle">
        <thead>
            <tr>
                <th data-column-id="id" data-type="numeric">User Id</th>
                <th data-column-id="sender">Booking Id</th>
                <th data-column-id="received" data-order="desc">User vehicle reg no.</th>
                 <th data-column-id="brand">Brand</th>
                <th data-column-id="car">Car</th>
                <th data-column-id="service">Services to be availed</th>
                <th data-column-id="timeslot">Time Slot</th>
            </tr>
        </thead>
        <tbody>
            <% User.all.each do |user| %>
                     <tr>
                       <td><%= user.id%></td>
                       <td></td>
                        <td>
                       <% user.user_vehicles.each do |user_vehicle|%>
                         <%= user_vehicle.registration_number%>,
                        <%end%>
                        </td>
                       <td>
                        <% user.user_vehicles.each do |user_vehicle|%>
                         <%=user_vehicle.vehicle.car.brand.brand_name%>,
                        <%end%> 
                       </td>
                         <td>
                        <% user.user_vehicles.each do |user_vehicle|%>
                         <%=user_vehicle.vehicle.car.name%>,
                        <%end%> 
                       </td>
                       <td></td>
                       <td></td>
                      </tr>
                    <% end %>       
        </tbody>
    </table>
</div>
</div>
</div>

<script type="text/javascript">
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }

         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
          }
            $(document).ready(function(){
                //Basic Example
                $("#data-table-basic").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                });
                
                //Selection
                $("#data-table-selection").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                    selection: true,
                    multiSelect: true,
                    rowSelect: true,
                    keepSelection: true
                });
                
                //Command Buttons
                $("#data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                    formatters: {
                        "commands": function(column, row) {
                            return "<button type=\"button\" class=\"btn btn-icon command-edit waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-edit\"></span></button> " + 
                                "<button type=\"button\" class=\"btn btn-icon command-delete waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-delete\"></span></button>";
                        }
                    }
                });
            });
</script>
 